<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/slick.css">
    <link rel="stylesheet" href="/static/assets/css/reset.css">
    <link rel="stylesheet" href="/static/assets/css/base.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/assets/css/base_blog.css">
    <link rel="stylesheet" href="/static/assets/css/article-1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Blog</title>
</head>

<body>
    <script src="/static/assets/bootstrap/jquery.slim.min.js"></script>
    <script src="/static/assets/bootstrap/bootstrap.bundle.min.js"></script>
    <header>
        <div class="container">
            <div class="inner-wrap">
                <div class="inner-logo">
                    <a href="/"><img src="/static/assets/image/logo2.jpg" alt=""></a>
                    <div class="inner-content">
                        <h2>TWA</h2>
                        <p>Trendy Web Affordable</p>
                    </div>
                </div>
                <div class="inner-menu">
                    <ul>
                        <li>
                            <a href="/xaydungweb">Xây dựng Website <i class="fa-solid fa-chevron-down"></i></a>
                            <ul class="menu-dropdown">
                                <li><a href="/xaydungweb">Thiết Kế Website</a></li>
                                <li><a href="/khogiaodien">Kho Giao Diện</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/thietkelogo">Thiết Kế Đồ Họa<i class="fa-solid fa-chevron-down"></i></a>
                            <ul class="menu-dropdown">
                                <li><a href="/thietkelogo">Thiết Kế Logo</a></li>
                                <li><a href="/banhang">Bộ Nhận diện thương hiệu</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Cộng tác<i class="fa-solid fa-chevron-down"></i></a>
                            <ul class="menu-dropdown">
                                <li><a href="#">Chương Trình Đại Lý</a></li>
                                <li><a href="#">Cộng Tác Viên</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/blog">Blog<i class="fa-solid fa-chevron-down"></i></a>
                            <ul class="menu-dropdown">
                                <li><a href="#">Tổng Hợp</a></li>
                                <li><a href="#">Lập Trình</a></li>
                                <li><a href="#">Cách Bán Hàng Trên Website</a></li>
                                <li><a href="#">Bí Quyết Làm SEO</a></li>
                                <li><a href="#">Kinh Nghiệm Thiết Kế Website</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Liên Hệ</a></li>
                    </ul>
                </div>
                <button type="button" class="btn btn-primary button" data-toggle="modal" data-target="#exampleModal" id="buttonHeader">Tư Vấn Ngay</button>
                <div class="inner-bar" id="inner-bar"><i class="fa-solid fa-bars"></i></div>
            </div>
        </div>
    </header>

    <div class="container">


        <div class="row">
            <div class="col-md-3 col-12">

                <div class="col-12 ">

                    <div class="inner-title">
                        <h2>BÀI VIẾT HOT!!!</h2>

                    </div>

                    <div id="hot_article" class="inner-infor"></div>
                </div>
            </div>

            <div class="col-md-9 col-12">

                <div class="row row_js">

                </div>
            </div>
        </div>

    </div>

    <script src="/static/assets/js/index.js"></script>
    <script src="/static/assets/js/main-content.js"></script>
    <script src="/static/assets/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/slick.min.js"></script>
    <script src="/static/assets/js/script.js"></script>
</body>

</html>